body{
    background-color: brown;
    color: aliceblue;
}
.des .child{
    background-color: green;
    border: 50px;
    width: 170px;
    height: 50px;
    font-size: 40px;
    font-style: italic;
}

img{
    height: 170px;
    width: 200px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}